<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Dropdead</title>
</head>
<body>
    <header>
        <nav class="nav-bar flex-row container">
            <picture class="logo">
                <a href="../../index.html">
                    <img src="../images/dropdead2.png" alt="Dropdead Logo" width="300px">
                </a>
            </picture>
            <ul class="menu flex-row">
                <li class="menu__item">
                    <a href="../views/collections.html" class="menu__link">Clothing</a></li>
                <li class="menu__item">
                    <a href="../views/accessories.html" class="menu__link">Accessories</a>
                    <ul class="sub-menu">
                        <li class="sub-menu__item">
                            <a href="" class="sub-menu__link">Jewelry</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="" class="sub-menu__link">Belts</a>
                        </li>
                        <li class="sub-menu__item">
                            <a href="" class="sub-menu__link">Giftcard</a>
                        </li>
                    </ul>
                </li>
                <li class="menu__item">
                    <a href="../views/collections.html" class="menu__link">Collections</a></li>
                <li class="menu__item">
                    <a href="../views/contact.html" class="menu__link">Contact</a></li>
            </ul>
    
    
    <!--
            <a class="nav-icon" href="#">
                <img src="assets/images/profile2.png" alt="Account" height="20px">
            </a>
            <a class="nav-icon" href="#">
                <img src="assets/images/search2.png" alt="Search" height="20px">
            </a>
            <a class="nav-icon" href="#">
                <img src="assets/images/cart2.png" alt="Cart" height="20px">
            </a>
    -->
            </ul>
        </nav>
    </header>
    <!-- MAIN SECTION -->
    <main id="main-accessories">
            <h1>Shop our accessories, new pieces added monthly</h1>
                <div class="accessories-grid">
                    <div class="item1">
                        <img src="../images/jewelry.jpg" alt="Jewelry">
                    <a href="#" class="jewelry">Jewelry</a>
                    </div>
                    <div class="item2">
                        <img src="../images/belt.jpg" alt="Belts">
                    <a href="#" class="belt">Belts</a>
                    </div>
                    <div class="item3">
                        <img src="../images/giftcard.jpg" alt="Giftcard">
                    <a href="#" class="giftcard">Giftcard</a>
                    </div>
                </div>
    </main>
    <footer>
        <!-- FOOTER -->
        <!-- SOCIAL MEDIA LINKS -->
        <div class="social">
            <a href="https://www.facebook.com/DROPDEADOFFICIAL/" target="blank">
                <img src="../images/facebook2.png" alt="Facebook" height="20px">
            </a>
            <a href="https://www.instagram.com/dropdeadofficial/?hl=en" target="blank">
                <img src="../images/instagram2.png" alt="Instagram" height="20px">
            </a>
            <a href="https://twitter.com/DropDeadUK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank">
                <img src="../images/twitter2.png" alt="Twitter" height="20px">
            </a>
        </div>
        <div class="brand">
            <p>Dropdead ©</p>
        </div>
    </footer>
</body>

</html>