<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dropdead</title>
</head>

<body>
    <header>
        <a href="/index.html">
            <img src="../images/dropdead.png" alt="" width="300px">
        </a>
        <!-- MENU NAV BAR-->
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="./clothing.html">Clothing</a></li>
            <li><a href="./accessories.html">Accessories</a></li>
            <li><a href="./collections.html">Collections</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li>
                <a href="#">
                    <img src="/assets/images/profile.png" alt="My Account" height="20px">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/search.png" alt="Search" height="20px">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="/assets/images/cart.png" alt="Shopping bag" height="20px">
                </a>
            </li>
        </ul>
    </header>
    <!-- MAIN SECTION -->
    <main>
        <section>
            <h1>Accessories</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus delectus, veritatis odit dolore quae
                hic, adipisci voluptatibus alias suscipit quos dicta corrupti error cum magnam nam similique ipsum!
                Tenetur, provident.˜</p>
        </section>
    </main>
    <footer>
        <!-- FOOTER -->
        <!-- SOCIAL MEDIA LINKS -->
        <a href="https://www.facebook.com/DROPDEADOFFICIAL/" target="blank">
            <img src="../images/facebook.png" alt="" height="20px">
        </a>
        <a href="https://www.instagram.com/dropdeadofficial/?hl=en" target="blank">
            <img src="../images/instagram.png" alt="" height="20px">
        </a>
        <a href="https://twitter.com/DropDeadUK?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="blank">
            <img src="../images/twitter.png" alt="" height="20px">
        </a>
        <p>Dropdead ©</p>
    </footer>
</body>

</html>