
 /********** SECTION UNIVERSAL CSS **********/
 /* Reset */ 
 *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family: 'Horizon';
    src: url(../fonts/horizon/Horizon.otf);
}

@font-face{
    font-family: 'League-Spartan';
    src: url(../fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf);

}

:root{
    --principal: white;
    --secondary: black;
}

 /********** SECTION HEADER: LOGO AND NAV BAR **********/
ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    display: inline-block;
    color: black;
    font-size: 1.3rem;
}

/* HELPERS */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1080px;
    margin: 0 auto;
}

body{
    background-color: white;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'League-Spartan', sans-serif;
}

/* HEADER */
header{
    background-color: var(--principal);
    opacity: .9;
}

header .nav-bar{
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    padding: 0px 2rem;
}

header .logo img{
    width: 180px;
}

header .logo{
    flex-basis: 30%;
}

.logo img{
    animation: bounce 2s ease infinite;
  }
  @keyframes bounce {
      70% { transform:translateY(0%); }
      80% { transform:translateY(-15%); }
      90% { transform:translateY(0%); }
      95% { transform:translateY(-7%); }
      97% { transform:translateY(0%); }
      99% { transform:translateY(-3%); }
      100% { transform:translateY(0); }
  }

header .menu{
    flex-basis: 60%;  
    justify-content: space-between;
}

header .menu__item{
    font-size: 1.3rem;
    border: 2px solid white;
    transition: border-color .3s ease-in-out;   
}

header .menu__item:hover{
    border-color: #494450;
}

.menu .menu__item{
    font-size: 1.3rem;
    padding: 1rem;
}

.menu .menu__item:hover .sub-menu{
    display: block;
}

.sub-menu{
    display: none;
    position: absolute;
}

.sub-menu .sub-menu__item .sub-menu__link{
    padding: 1rem;
    font-size: 1.3rem;
}

.sub-menu .sub-menu__item .sub-menu__link:hover{
    background-color: white;
    opacity: .9;
    transition: background-color .3s ease-in-out;
}

 /********** SECTION MAIN HOME **********/
#body-index{
    background-image: url(../images/background-index.jpeg);
 }

#main-home{
    display: flex;
    margin-top: 37%;
}

main .email-home {
    width: 42rem;
    height: 2rem;
    margin-left: 210px;
    opacity: .5;
    font-family: 'League-Spartan';
    font-size: 15px;
    margin-bottom: 15px;
}

main .button{
    width: 15.5rem;
    height: 2rem;
    margin-left: 75px;
    font-family: 'League-Spartan', sans-serif;
    font-size: 15px;
    background-color: black;
    color: white;
    border: none;
}

main .button:hover{
    background-color: #494450;
    cursor: pointer;
}

::placeholder{
    color: black;
    opacity: 1;
}

input{
    color: black;
    padding-left: 20px;
    padding-top: 3px;
}

/********** SECTION CLOTHING **********/
#main-clothing{
    height: 900px;
    margin-top: 70px;
}

.clothing p{
   font-size: 25px;
   margin: 70px 50px;
   position: absolute;
   line-height: 1.5;
   width: 1220px;
}

.tags{
   position: absolute;
   margin-top: 270px;
}

.clothing-img img{
   width: 650px;
   display: inline;
   margin-left: 1420px;
   position: absolute;
   margin-top: -15px;
}

.button-clothes1{
   margin-left: 1010px;
   height: 50px;
   width: 100px;
   font-size: 20px;
   background-color: #494450;
   color: white;
   letter-spacing: 3px;
   cursor: pointer;
}

.button-clothes2{
   margin-left: 20px;
   height: 50px;
   width: 100px;
   font-size: 20px;
   border: none;
   background-color: #494450;
   color: white;
   cursor: pointer;
}

.tags input{
   color: white;
   padding-left: 0px;
}

 /********** SECTION ACCESSORIES **********/
#main-accessories{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 70px;
}

#main-accessories h1{
    text-align: center;
}

.accessories-grid img{
    width: 90%;
}

.accessories-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 40px;
    gap: 2rem;
}

.item1{
    text-align: center;
    position: relative;
}

.item2{
    text-align: center;
    position: relative;
}

.item3{
    text-align: center;
    position: relative;
}

.accessories img:hover{
    cursor: pointer;
}

.accessories-grid a{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
}

.jewelry{ 
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    color: white;
}

.belt{
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    color: white;
}

.giftcard{
    font-size: 25px;
    position: absolute;
    cursor: pointer;
    color: white;
}

 /********** SECTION COLLECTIONS **********/
 /* IFRAME */
.video{
    overflow: hidden;
}

.nomad{
    position: absolute;
    margin: 70px 215px;
    left: 0px;
    width: 80%;
    height: 80%;
    border: 0;
}

/********** SECTION CONTACT **********/
#body-contact{
    background-image: url(../images/background-contact.jpg);
}

#main-contact{
    margin-top: 70px;
    width: 1200px;
}

#form{
    display: table;
    width: 100%;
    font-size: 25px;
    margin: 100px 50px;
}

#contactus-form input{
    color: black;
    margin: 20px;
    width: 70%; 
    height: 40px;
    font-family: 'League-Spartan', sans-serif;
}

.contact input{
    padding-left: 20px;
    font-size: 17px;
}

.birth-contact input{
    padding-left: 20px;
    font-size: 17px;
}

.birth-contact{
    width: 92.5%;
}

textarea{
    width: 63%;
    height: 200px;
    border: 0.5px solid rgb(199, 199, 199);
    border-radius: 0px;
}

.message{
    font-family: 'League-Spartan', sans-serif;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 25px;
    padding-left: 10px;
    padding-top: 10px;
}

.message-contact label{
    text-align: right;
    clear: both;
    float:left;
    margin-right:15px;
    margin-top: 25px;
}

.button-contact{
    position: absolute;
    margin-left: 575px;
    margin-top: 30px;
}

.button-contact input{
    height: 40px;
    font-size: 20px;
    margin-left: 30px;
    padding-left: 10px;
    cursor: pointer;
    font-family: 'League-Spartan', sans-serif;
}

.button-contact1{
    width: 150px;
    font-size: 20px;
    border: 0.5px solid rgb(199, 199, 199);
    background-color: white;
    
}

.button-contact2{
    width: 150px;
    font-size: 20px;
    border: 0.5px solid rgb(199, 199, 199);
    background-color: #494450;
    color: white;
}

 /********** SECTION FOOTER **********/
footer div{
    margin-bottom: 30px;
 }

.social{
    position: absolute;
    margin-left: 210px;
}

.social img{
    height: 15px;
}

.brand{
    position: relative;
    float: right;
    margin-right: 230px;
    font-family: 'League-Spartan', sans-serif;
    font-size: 1rem;
    color: black;
}

.social a{
    margin-right: 25px;
}

 /********** SECTION MEDIA QUERIES **********/
 @media screen and (max-width: 1200px){
/* HOME */
    body{
        background-color: white;
    }

    a{
        font-size: 1.3rem;
    }

    /* HEADER */
    header .logo img{
        width: 150px;
        margin: 0 auto;
    }

    header .menu{
        flex-basis: 50%;
    }

    main .email-home {
        width: 42rem;
        margin-left: 90px;
        margin-top: 20px;
    }

    main .button{
        width: 15.5rem;
        height: 2rem;
        margin-left: 75px;
    }

    footer div{
        margin-bottom: 25px;
     }
    
    .social{
        position: absolute;
        margin-left: 90px;
    }
    
    .social img{
        height: 15px;
    }
    
    .brand{
        margin-right: 110px;
    }
    
    .social a{
        margin-right: 25px;
    }

@media screen and (max-width: 1024px){
    body{
        background-color: white;
    }

    a{
        font-size: 1.2rem;
    }

    /* HEADER */
    header .logo img{
        width: 130px;
        margin: 0 auto;
        margin-left: 30px;
    }

    header .menu{
        flex-basis: 50%;
        margin-right: 20px;
    }

    .sub-menu .sub-menu__item .sub-menu__link{
        padding: 1rem;
        font-size: 1.2rem;
    }

    main .email-home {
        width: 40rem;
        margin-left: 60px;
        margin-top: 100px;
    }

    main .button{
        width: 10.5rem;
        height: 2rem;
        margin-left: 75px;
    }

    footer div{
        margin-bottom: 20px;
     }
    
    .social{
        position: absolute;
        margin-left: 60px;
    }
    
    .social img{
        height: 15px;
    }
    
    .brand{
        margin-right: 70px;
    }
    
    .social a{
        margin-right: 25px;
    }

/* ACCESSORIES */
#main-accessories{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 90px;
}

#main-accessories h1{
    text-align: center;
    font-size: 1.7rem;
    margin-bottom: 50px;
    margin-top: 50px;
}

.accessories-grid img{
    width: 90%;
}

.accessories-grid{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 40px;
    gap: 2rem;
}

.item1{
    text-align: center;
    position: relative;
}

.item2{
    text-align: center;
    position: relative;
}

.item3{
    text-align: center;
    position: relative;
}

.accessories img:hover{
    cursor: pointer;
}

.accessories-grid a{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
}

.jewelry{ 
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    color: white;
}

.belt{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    color: white;
}

.giftcard{
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    color: white;
}

}
}

@media screen and (max-width: 768px){
    body{
        background-color: white;
    }

    a{
        font-size: 1rem;
    }

    /* HEADER */
    header .logo img{
        width: 120px;
        margin-left: 10px;
    }

    header .menu{
        flex-basis: 60%;
        margin-right: 5px;
    }

    .sub-menu .sub-menu__item .sub-menu__link{
        padding: 1rem;
        font-size: 1rem;
    }

    main .email-home {
        width: 29rem;
        margin-left: 40px;
        margin-top: 140px;
    }

    main .button{
        width: 10rem;
        height: 2rem;
        margin-left: 45px;
    }

    footer div{
        margin-bottom: 20px;
     }
    
    .social{
        position: absolute;
        margin-left: 40px;
    }
    
    .social img{
        height: 15px;
    }
    
    .brand{
        margin-right: 50px;
        font-size: 0.9rem;
    }
    
    .social a{
        margin-right: 20px;
    }

    /* ACCESSORIES */
#main-accessories{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-accessories h1{
    text-align: center;
    font-size: 1.8rem;
    margin-bottom: 40px;
    margin-top: 40px;
}

.accessories-grid img{
    width: 80%;
}

.accessories-grid{
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 40px;
    gap: 2rem;
}

.item1{
    text-align: center;
    position: relative;
}

.item2{
    text-align: center;
    position: relative;
}

.item3{
    text-align: center;
    position: relative;
}

.accessories img:hover{
    cursor: pointer;
}

.accessories-grid a{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
}

.jewelry{ 
    font-size: 1.8rem;
    position: absolute;
    cursor: pointer;
    color: white;
}

.belt{
    font-size: 1.8rem;
    position: absolute;
    cursor: pointer;
    color: white;
}

.giftcard{
    font-size: 1.8rem;
    position: absolute;
    cursor: pointer;
    color: white;
}
}


@media screen and (max-width: 600px){
    body{
        background-color: white;
    }

    a{
        font-size: 0.9rem;
    }

    /* HEADER */
    header .logo img{
        width: 100px;
        margin-left: 10px;
    }

    header .menu{
        flex-basis: 60%;
        margin-right: 5px;
    }

    .sub-menu .sub-menu__item .sub-menu__link{
        padding: 0.5rem;
        font-size: 0.9rem;
    }

    main .email-home {
        width: 18.5rem;
        margin-left: 40px;
        margin-top: 270px;
        font-size: 0.9rem;
        padding-left: 15px;
    }

    main .button{
        width: 10rem;
        height: 2rem;
        margin-left: 45px;
        font-size: 0.9rem;
        padding-left: 10px;
    }

    footer div{
        margin-bottom: 20px;
     }
    
    .social{
        position: absolute;
        margin-left: 40px;
    }
    
    .social img{
        height: 12px;
    }
    
    .brand{
        margin-right: 52px;
        font-size: 0.8rem;
    }
    
    .social a{
        margin-right: 20px;
    }
     /* ACCESSORIES */
#main-accessories{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-accessories h1{
    text-align: center;
    font-size: 1.4rem;
    margin-bottom: -10px;
    margin-top: 20px;
}

.jewelry{ 
    font-size: 1.5rem;
}

.belt{
    font-size: 1.5rem;
}

.giftcard{
    font-size: 1.5rem;
}
}

@media screen and (max-width: 480px){
    body{
        background-color: white;
    }

    a{
        font-size: 0.8rem;
    }

    /* HEADER */
    header .logo img{
        width: 80px;
        margin-left: -10px;
    }

    header .menu{
        flex-basis: 20%;
        margin-right: 5px;
    }

    .sub-menu .sub-menu__item .sub-menu__link{
        padding: 0.3rem;
        font-size: 0.8rem;
    }

    main .email-home {
        width: 17rem;
        height: 1.7rem;
        margin-left: 20px;
        margin-top: 270px;
        font-size: 0.8rem;
        padding-left: 12px;
    }

    main .button{
        width: 7rem;
        height: 1.7rem;
        margin-left: 25px;
        font-size: 0.8rem;
        padding-left: 6px;
    }

    footer div{
        margin-bottom: 20px;
     }
    
    .social{
        position: absolute;
        margin-left: 40px;
    }
    
    .social img{
        height: 12px;
    }
    
    .brand{
        margin-right: 45px;
        font-size: 0.8rem;
    }
    
    .social a{
        margin-right: 20px;
    }

/* ACCESSORIES */
#main-accessories{
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#main-accessories h1{
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: -20px;
    margin-top: -10px;
}

.accessories-grid img{
    width: 90%;
}

.accessories-grid{
    display: grid;
    grid-template-columns: auto;
    margin: 0 auto; 
    padding: 20px;
    margin-top: 30px;
    padding-bottom: 0px;
    gap: 2rem;
}

.jewelry{ 
    font-size: 1.2rem;
}

.belt{
    font-size: 1.2rem;
}

.giftcard{
    font-size: 1.2rem;
}
}






    /*
    .logo img{
        width: 190px;
        margin-top: 11px;
    }

    .nav-bar a{
        font-size: 1.5rem;
    }

    .nav-icon img{
        width: 20px;
        height: 20px;
    }

    .social{
        position: absolute;
        margin-left: 70px;
    }
    
    .brand{
        position: absolute;
        margin-left: 84%;
        font-size: 20px;
        line-height: 50px;
    }
    
    .social a{
        margin-right: 30px;
        line-height: 50px;
    }

    #body-index{
        background-image: url(../images/background-index.jpeg);
        background-position: 90% 90%;
     }
    
    main .button{
        width: 20rem;
        height: 40px;
        font-size: 15px;
        background-color: black;
        color: white;
        border: none;
    }

    ::placeholder{
        color: black;
        opacity: 1;
        padding-left: 10px;
    }
    
    input{
        color: black;
        padding-left: 5px;
        padding-top: 5px;
    }

    #contact-form {
        margin-left: 30px;
        height: 40px;
        margin-bottom: 20px;
    }

    #main-home{
        display: flex;
        margin-top:38%;
    }
    
    main .email-home {
        width:40rem;
        height: 40px;
        margin-left: 40px;
        opacity: .5;
        font-family: 'League-Spartan';
        font-size: 20px;
        margin-bottom: 40px;
    }

    #main-accessories{
        width: 100%;
        margin-top: 70px;
    }
    

    .accessories-grid img{
        width: 300px;
        margin-bottom: 25px;
    }

.accessories-grid a{
    font-size: 1.5rem;
}

    #main-accessories h1{
        margin-left: 50px;
        margin-top: 150px;
        font-size: 2.5rem;
    }
}


@media screen and (max-width: 1024px){
    body{
        background-color: white;
    }
    
    .social{
        position: absolute;
        margin-left: 70px;
    }
    
    .brand{
        position: absolute;
        margin-left: 85%;
        font-size: 20px;
        line-height: 50px;
    }
    
    .social a{
        margin-right: 30px;
        line-height: 50px;
    }

    #body-index{
        background-image: url(../images/background-index.jpeg);
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        background-size: cover;
     }
    
    main .button{
        width: 14rem;
        height: 40px;
        font-size: 15px;
        background-color: black;
        color: white;
        border: none;
        margin-bottom: 70px;
    }

    ::placeholder{
        color: black;
        opacity: 1;
        padding-left: 10px;
    }
    

    #contact-form {
        width: 1200px;
        margin-left: 30px;
        height: 40px;
        margin-bottom: 15px;
    }

    #main-home{
        display: flex;
        margin-top:53%;
        width: 1200px;
    }
    
    main .email-home {
        width:37rem;
        height: 40px;
        margin-left: 40px;
        opacity: .5;
        font-family: 'League-Spartan';
        font-size: 20px;
        margin-bottom: 40px;
    }

    #main-accessories{
        width: 100%;
        margin-top: 70px;
        margin-left: -15px;
    }
    

    .accessories-grid img{
        width: 300px;
        margin-bottom: 25px;
    }

.accessories-grid a{
    font-size: 1.5rem;
}

    #main-accessories h1{
        margin-left: 50px;
        margin-top: 150px;
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px){
    body{
        background-color: white;
    }
    
    .social{
        position: absolute;
        margin-left: 40px;
    }
    
    .brand{
        position: absolute;
        margin-left: 82%;
        font-size: 20px;
        line-height: 50px;
    }
    
    .social a{
        margin-right: 30px;
        line-height: 50px;
    }

    #body-index{
        background-image: url(../images/background-index.jpeg);
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        background-size: cover;
     }
    
    main .button{
        width: 10rem;
        height: 40px;
        font-size: 15px;
        background-color: black;
        color: white;
        border: none;
        margin-bottom: 70px;
    }

    ::placeholder{
        color: black;
        opacity: 1;
        padding-left: 10px;
    }
    

    #contact-form {
        width: 1200px;
        margin-left: 20px;
        height: 40px;
        margin-bottom: 25px;
    }

    #main-home{
        display: flex;
        margin-top:72%;
        width: 1200px;
    }
    
    main .email-home {
        width:27rem;
        height: 40px;
        margin-left: 20px;
        opacity: .5;
        font-family: 'League-Spartan';
        font-size: 17px;
        margin-bottom: 40px;
    }

    #main-accessories{
        width: 100%;
        margin-top: 70px;
        margin-left: -15px;
    }
    

    .accessories-grid img{
        width: 200px;
        margin-bottom: 25px;
    }

.accessories-grid a{
    font-size: 1.2rem;
    line-height: 10px;
}

    #main-accessories h1{
        margin-left: 50px;
        margin-top: 250px;
        font-size: 2rem;
    }

    .logo img{
        width: 250px;
    }
}


@media screen and (max-width: 600px){
    body{
        background-color: white;
    }
    
    .nav-bar{
    display: block;
    text-align: center;
}

    .logo img{
        width: 200px;
    }

    .social{
        position: absolute;
        margin-left: 40px;
    }
    
    .brand{
        position: absolute;
        margin-left: 78%;
        font-size: 18px;
    }
    
    .social a{
        margin-right: 30px;
        line-height: 50px;
    }

    #body-index{
        background-image: url(../images/background-index.jpeg);
        background-position: center center;
        background-attachment: fixed;
        background-repeat: no-repeat; 
        background-size: cover;
     }
    
    main .button{
        width: 6rem;
        height: 40px;
        font-size: 12px;
        background-color: black;
        color: white;
        border: none;
        margin-bottom: 70px;
    }

    ::placeholder{
        color: black;
        opacity: 1;
        padding-left: 10px;
    }
    

    #contact-form {
        width: 1200px;
        margin-left: 20px;
        height: 40px;
        margin-bottom: 25px;
    }

    #main-home{
        display: flex;
        margin-top:89%;
        width: 1200px;
    }
    
    main .email-home {
        width:21rem;
        height: 40px;
        margin-left: 20px;
        opacity: .5;
        font-family: 'League-Spartan';
        font-size: 17px;
        margin-bottom: 40px;
    }

    .accessories-grid{
        grid-template-columns: auto;
    }
    

    .accessories-grid img{
        width: 300px;
        margin-bottom: 25px;
    }

.accessories-grid a{
    font-size: 1.2rem;
    line-height: 10px;
}

    #main-accessories h1{
        margin-left: 50px;
        margin-top: 250px;
        font-size: 2rem;
    }

    .logo img{
        width: 250px;
    }
}


@media screen and (max-width: 480px){
    .accessories-grid{
        grid-template-columns: auto;
    }

    #main-accessories{
        width: 100%;
        margin-top: 70px;
    }
    
    .accessories-grid img{
        width: 300px;
        margin-left: 12px;
    }
    
    .item2{
        position: absolute;
        margin-top: 350px;
        margin-left: 0px;
    }
    
    .item3{
        position: absolute;
        margin-top: 700px;
        margin-left: 0px;
    }

    footer {
        position:fixed;
        left:0px;
        bottom:10px;
        height:30px;
        width:100%;
     }
    
    .social{
        position: absolute;
        margin-left: 50px;
    }
    
    .brand{
        position: absolute;
        margin-left: 250px;
        font-family: 'League-Spartan', sans-serif;
        font-size: 20px;
        color: black;
        line-height: 50px;
    }
    
    .social a{
        margin-right: 30px;
        line-height: 50px;
    }

    #main-accessories h1{
        margin-left: 90px;
        margin-top: 460px;
    }

        #body-index{
            background-image: url(../images/background-index.jpeg);
            background-position: 90% 90%;
         }

         #main-home{
            display: flex;
            margin-top: 670px;
        }

        main .email-home {
            width: 320px;
            height: 30px;
            opacity: .5;
            font-family: 'League-Spartan';
            font-size: 15px;
            margin-left: 10px;
        }
        
        main .button{
            width: 320px;
            height: 30px;
            margin-top: 10px;
            margin-left: 10px;
            font-family: 'League-Spartan', sans-serif;
            font-size: 12px;
            background-color: black;
            color: white;
            border: none;
            margin-bottom: 70px;
        }
        
        main .button:hover{
            background-color: #494450;
            cursor: pointer;
        }
        
        ::placeholder{
            color: black;
            opacity: 1;
        }
        
        input{
            color: black;
            padding-left: 5px;
            padding-top: 5px;
        }

        #contact-form {
            width: 320px;
            margin-left: 30px;
        }
}

*/











